@page "/Incisos"
@inject HttpClient httpClient
@attribute [Authorize(Roles = "Administrador,Supervisor")]

@if (IncisosAPI == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Incisos</h5>
            <AuthorizeView Roles="Administrador,Supervisor">
                <div class="form-group">
                    <button type="button" class="btn btn-light px-5" @onclick="ShowingForm"><i class="zmdi zmdi-file-add"></i> Agregar</button>
                </div>
            </AuthorizeView>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Detalle</th>
                            <th scope="col">Artículo</th>
                            <th scope="col">Verificable</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in IncisosAPI)
                        {
                            <tr>
                                <td scope="row">@item.IncisoID</td>
                                <td>@item.Descripcion</td>
                                <td>@item.Detalle</td>
                                <td>@item.Articulo.Descripcion</td>
                                <td>@item.Verificable</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h5 class="@textClass">@MessageCreate</h5>

    @if (this.ShowForm)
    {
        <IncisosForm ButtonText="Crear Inciso" Inciso="Inciso" OnValidSubmit="CreateInciso" Title="Crear Inciso" />
    }
}

@code {
    private IncisoViewModel Inciso = new IncisoViewModel();
    private List<IncisoViewModel> IncisosAPI { get; set; }
    private bool ShowForm;
    private string MessageCreate;
    private string textClass;



    protected override async Task OnInitializedAsync()
    {
        await GetIncisosAsync();
    }

    private async Task GetIncisosAsync()
    {
        this.IncisosAPI = await httpClient.GetFromJsonAsync<List<IncisoViewModel>>("api/MarcoLegal/GetIncisos");
    }

    private void ShowingForm()
    {
        this.ShowForm = true;
    }

    private async Task CreateInciso()
    {
        var result = await httpClient.PostAsJsonAsync("api/MarcoLegal/CreateInciso", this.Inciso);

        if (result.StatusCode == System.Net.HttpStatusCode.OK)
        {
            //var content = result.Content.ReadFromJsonAsync<UserToken>();
            this.textClass = "text-center text-success";
            this.MessageCreate = "Registro creado con éxito";
            this.ShowForm = false;

            await OnInitializedAsync();

            this.Inciso.Descripcion = string.Empty;
            this.Inciso.Detalle = string.Empty;
            this.Inciso.ArticuloID = 0;
            this.Inciso.Verificable = false;
        }
        else
        {
            this.textClass = "text-center text-warning";
            this.MessageCreate = "Error al crear registro";
        }
    }
}

