@inject HttpClient httpClient

<div class="row mt-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title text-center"><h3>Validación en Proceso</h3></div>
                <hr>                
                @*Artículos*@
                <h5 class="card-title">Articulos</h5>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Descripción</th>
                                <th scope="col">Detalle</th>
                                <th scope="col">Verificación</th>
                                <th scope="col">Evidencia</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ItemsAPI.Articulos != null)
                            {
                                @foreach (var item in ItemsAPI.Articulos)
                                {
                                    <tr>
                                        <td scope="row">@item.Descripcion</td>
                                        <td>@item.Detalle</td>
                                        <td>
                                            <EditForm Model="item">
                                                <div class="form-check-inline">
                                                    <label class="form-check-label" style="margin-right:10px;">Cumple</label>
                                                    <InputCheckbox @bind-Value="item.Cumple" class="form-check-input"></InputCheckbox>
                                                </div>
                                            </EditForm>
                                        </td>
                                        <td>
                                            @if (item.Cumple)
                                            {
                                                <InputFile OnChange="HandleSelection" value="@item.Evidencia" />
                                                @*@if (fileTemp != null)
                                                {
                                                    
                                                    item.Evidencia = fileTemp.Name;
                                                }*@
                                                @*<input type="file" name="adjunto" @bind="item.Evidencia"/>*@
                                                @*<form  enctype="multipart/form-data" id="myform" class="myForm">
                                                    <input type="file" name="adjunto[]" @bind="item.Evidencia" multiple="multiple"/>
                                                </form>*@
                                            }
                                        </td>
                                        @if (this.Completado)
                                        {
                                            <td><label class="text-center text-info"><strong>Verificado</strong></label></td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

                @*Incisos*@
                <br /><br />
                <h5 class="card-title">Incisos</h5>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Descripción</th>
                                <th scope="col">Detalle</th>
                                <th scope="col">Verificación</th>
                                <th scope="col">Evidencia</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ItemsAPI.Incisos != null)
                            {
                                @foreach (var item in ItemsAPI.Incisos)
                                {
                                    <tr>
                                        <td scope="row">@item.Descripcion</td>
                                        <td scope="row">@item.Detalle</td>
                                        <td>
                                            <EditForm Model="item">
                                                <div class="form-check-inline">
                                                    <label class="form-check-label" style="margin-right:10px;">Cumple</label>
                                                    <InputCheckbox @bind-Value="item.Cumple" class="form-check-input"></InputCheckbox>
                                                </div>
                                            </EditForm>
                                        </td>
                                        <td>
                                            @if (item.Cumple)
                                            {
                                                <InputFile OnChange="HandleSelection" value="@item.Evidencia"/>
                                                
                                                @*<input type="file" @bind="item.Evidencia"/>*@
                                                @*<form  enctype="multipart/form-data" id="myform" class="myForm">
                                                    <input type="file" name="adjunto[]" @bind="item.Evidencia" multiple="multiple"/>
                                                </form>*@
                                            }
                                        </td>
                                        @if (this.Completado)
                                        {
                                            <td><label class="text-center text-info"><strong>Verificado</strong></label></td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

                @*SubIncisos*@
                <br /><br />
                <h5 class="card-title">SubIncisos</h5>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Descripción</th>
                                <th scope="col">Detalle</th>
                                <th scope="col">Verificación</th>
                                <th scope="col">Evidencia</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ItemsAPI.SubIncisos != null)
                            {
                                @foreach (var item in ItemsAPI.SubIncisos)
                                {
                                    <tr>
                                        <td scope="row">@item.Descripcion</td>  
                                        <td scope="row">@item.Detalle</td>  
                                        <td>
                                            <EditForm Model="item">
                                                <div class="form-check-inline">
                                                    <label class="form-check-label" style="margin-right:10px;">Cumple</label>
                                                    <InputCheckbox @bind-Value="item.Cumple" class="form-check-input"></InputCheckbox>
                                                </div>
                                            </EditForm>
                                        </td>
                                        <td>
                                            @if (item.Cumple)
                                            {                                                
                                            <InputFile OnChange="HandleSelection" value="@item.Evidencia" />
                                            }
                                        </td>
                                        @if (this.Completado)
                                        {
                                            <td><label class="text-center text-info"><strong>Verificado</strong></label></td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <br />  <br />
                @if (this.Completado)
                {
                    <h2 class="text-center text-info">Proceso de Verificación Completado</h2>
                }
                <br />
                <div class="form-group">
                    <button type="button" class="btn btn-light px-5" @onclick="async ()=> await SendAll()"><i class="zmdi zmdi-badge-check"></i> Procesar</button>
                </div>
            </div>
        </div>
    </div>    
</div>

@code
{
    [Parameter]
    public int LeyID { get; set; }
    [Parameter]
    public int OrganizacionID { get; set; }

    private ItemsVerificablesViewModel ItemsAPI { get; set; } = new ItemsVerificablesViewModel();

    protected override async Task OnInitializedAsync()
    {
        this.ItemsAPI = await httpClient.GetFromJsonAsync<ItemsVerificablesViewModel>($"api/MarcoLegal/GetItemsVerificables/{this.LeyID}");
    }

    private bool Completado;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private async Task SendAll()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;

        Console.WriteLine("AQUÍ SE ENVIA TODO");

        // Subir adjuntos con JS
        //var result = await JSRuntime.InvokeAsync<string>("UploadFile");


        this.ItemsAPI.LeyID = LeyID;
        this.ItemsAPI.OrganizacionID = OrganizacionID;
        this.ItemsAPI.User = user.Identity.Name;

        await httpClient.PostAsJsonAsync("api/MarcoLegal/InsertCumplimientos", this.ItemsAPI);

        this.Completado = true;
    }

    // Subir archivos
    string status;
    IFileListEntry file;

    async Task HandleSelection(IFileListEntry[] files)
    {
        file = files.FirstOrDefault();
        if (file != null)
        {           
            // Just load into .NET memory to show it can be done
            // Alternatively it could be saved to disk, or parsed in memory, or similar
            var ms = new MemoryStream();
            await file.Data.CopyToAsync(ms);

            status = $"Archivo Cargado {file.Name}";

            var content = new MultipartFormDataContent {
                { new ByteArrayContent(ms.GetBuffer()), "\"UploadFiles\"", file.Name }
            };
            
            await httpClient.PostAsync("api/UploadFile/Upload", content);
        }
    }
}
