@inject HttpClient httpClient

<div class="cardcard-authentication1 mx-auto my-5">
    <div class="card-body">
        <div class="card-content p-2">
            <div class="card-title text-uppercase text-center py-3">@Title</div>
            <hr />
            <EditForm Model="@SubInciso" OnValidSubmit="@OnValidSubmit">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label class="sr-only">Descripción :</label>
                    <div class="position-relative has-icon-right">
                        <InputText @bind-Value="@SubInciso.Descripcion" Class="form-control input-shadow" placeholder="Descripción" />
                        <ValidationMessage For="@(() => SubInciso.Descripcion)" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="sr-only">Descripción :</label>
                    <div class="position-relative has-icon-right">
                        <InputText @bind-Value="@SubInciso.Detalle" Class="form-control input-shadow" placeholder="Detalle" />
                        <ValidationMessage For="@(() => SubInciso.Detalle)" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="input-2">Inciso</label>
                    <InputSelectNumber class="form-control"
                                       @bind-Value="SubInciso.IncisoID">
                        <option value="0">-- Selecciona Inciso --</option>
                        @if (IncisosAPI != null)
                        {

                            @foreach (var item in IncisosAPI)
                            {
                                <option value="@item.IncisoID">@item.Descripcion</option>
                            }

                        }
                    </InputSelectNumber>
                </div>

                @*Todos los subincisos son verificables por defecto
                    <div class="form-group">
                    <div class="form-check-inline">
                        <label class="form-check-label" style="margin-right:10px;">Verificable</label>
                        <InputCheckbox @bind-Value="SubInciso.Verificable" class="form-check-input"></InputCheckbox>
                    </div>
                </div>*@
                <button type="submit" class="btn btn-light btn-block"> @ButtonText</button>
            </EditForm>

        </div>
    </div>
</div>

@code {
    [Parameter] public SubIncisoViewModel SubInciso { get; set; }
    [Parameter] public string Title { get; set; } = "Crear Capítulo";
    [Parameter] public string ButtonText { get; set; } = "Crear";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    private List<IncisoViewModel> IncisosAPI { set; get; }

    protected override async Task OnInitializedAsync()
    {
        this.IncisosAPI = await httpClient.GetFromJsonAsync<List<IncisoViewModel>>("api/MarcoLegal/GetIncisos");
    }
}
